{% extends "layout.html" %}
{% import 'grid_macros.html' as grid with context %}

{% block content %}

<h1>Grid View:
 {% if branch != ANYBRANCH %}
  {% if not categories %}
<script type="text/javascript">
<!--
window.location = "grid?category=main&branch={{branch|urlencode}}"
//-->
</script>
  {% endif %}
<a href="grid?category=main&branch={{branch|urlencode}}">Main</a> |
<a href="grid?category=galera&branch={{branch|urlencode}}">Galera</a> |
<a href="grid?category=connectors&branch={{branch|urlencode}}">Connectors</a> |
<a href="grid?category=experimental&branch={{branch|urlencode}}">Experimental</a> |
<a href="grid?category=main&category=experimental&category=galera&category=connectors&branch={{branch|urlencode}}">All</a>
 {% endif %}
</h1>

<table class="Grid" border="0" cellspacing="0">

<tr>
 <td class="title"><a href="{{ title_url }}">{{ title }}</a>
  {{ grid.category_title() }}
 </td>

 {% for s in stamps %}
  {{ grid.stamp_td(s) }}
 {% endfor %}
</tr>

{% for builder in builders %}
 <tr>
 {{ grid.builder_td(builder) }}
 {% for build in builder.builds %}
   {{ grid.build_td(build) }}
 {% endfor %}
 </tr>
{% endfor %}

</table>

{% endblock %}
