{% extends 'layout.html' %}
{% import 'forms.html' as forms %}

{% block content %}

<h1>Welcome to the Buildbot
{%- if title -%}
  &nbsp;for the&nbsp;
  {%- if title_url -%}
    <a href="{{ title_url }}">{{ title }}</a>
  {%- else -%}
    {{ title }}
  {%- endif -%}
&nbsp;project
{%- endif -%}
!
</h1>

<div class="column">

<ul>
  {% set item_class=cycler('alt', '') %}
  
  <li class="{{ item_class.next() }}">the Waterfall Display
(
<a href="waterfall?branch=5.5" style='background-color:cyan;padding:2px;'>5.5</a>,
<a href="waterfall?branch=5.5-galera" style='background-color:cyan;padding:2px;'>5.5-galera</a>,
<a href="waterfall?branch=10.0" style='background-color:cyan;padding:2px;'>10.0</a>,
<a href="waterfall?branch=10.0-galera" style='background-color:cyan;padding:2px;'>10.0-galera</a>,
<a href="waterfall?branch=10.1" style='background-color:cyan;padding:2px;'>10.1</a>,
<a href="waterfall?branch=10.2" style='background-color:cyan;padding:2px;'>10.2</a>,
<a href="waterfall?branch=10.3" style='background-color:cyan;padding:2px;'>10.3</a>,
<a href="waterfall?branch=10.4" style='background-color:cyan;padding:2px;'>10.4</a>,
<a href="waterfall" style='background-color:#9f9;font-weight:bold;padding:2px;'>all</a>) will give you a
  time-oriented summary of recent buildbot activity.</li>

  <li class="{{ item_class.next() }}">the Grid Display
(
<a href="grid?branch=5.5" style='background-color:cyan;padding:2px;'>5.5</a>,
<a href="grid?branch=5.5-galera" style='background-color:cyan;padding:2px;'>5.5-galera</a>,
<a href="grid?branch=10.0" style='background-color:cyan;padding:2px;'>10.0</a>,
<a href="grid?branch=10.0-galera" style='background-color:cyan;padding:2px;'>10.0-galera</a>,
<a href="grid?branch=10.1" style='background-color:cyan;padding:2px;'>10.1</a>,
<a href="grid?branch=10.2" style='background-color:cyan;padding:2px;'>10.2</a>,
<a href="grid?branch=10.3" style='background-color:cyan;padding:2px;'>10.3</a>,
<a href="grid?branch=10.4" style='background-color:cyan;padding:2px;'>10.4</a>,
<a href="grid" style='background-color:#9f9;font-weight:bold;padding:2px;'>all</a>)
will give you a
  developer-oriented summary of recent buildbot activity.</li>

  <li class="{{ item_class.next() }}">The <a href="tgrid">Transposed Grid Display</a> presents
  the same information as the grid, but lists the revisions down the side.</li>

  <li class="{{ item_class.next() }}">The <a href="console">Console</a> presents 
  a user-oriented status page.</li>

  <li class="{{ item_class.next() }}">The <a href="builders">Builders</a> and their most recent builds are
  here.</li>

  <li>The <a href="one_box_per_builder">Latest Build</a> for each builder is
  here.</li>

  <li class="{{ item_class.next() }}"><a href="one_line_per_build">Recent Builds</a> are summarized here, one
  per line.</li>

  <li class="{{ item_class.next() }}"><a href="buildslaves">Buildslave</a> information</li>
  <li class="{{ item_class.next() }}"><a href="changes">Changesource</a> information.</li>
  <li><a href="reports/cross_reference">Cross Reference</a> allows to search
  for test failures in previous test runs.</li>

  <li class="{{ item_class.next() }}"><a href="about">About</a> this Buildbot</li>
</ul>

<hr>
<p>
<form method=GET action="grid">
Grid display by category and branch:
<br> <input type=checkbox name=category value=main checked> Main stable builders
<br> <input type=checkbox name=category value=package checked> Builders for package testing
<br> <input type=checkbox name=category value=experimental> Experimental builders with unresolved failures/problems
<br> <input type=checkbox name=category value=new> New builders not yet working
<br>
Branch:
<select NAME="branch">
  <option value="5.5">5.5
  <option value="5.5-galera">5.5-galera
  <option value="10.0">10.0
  <option value="10.0-galera">10.0-galera
  <option value="10.1">10.1
  <option value="10.2">10.2
  <option value="10.3" selected>10.3
  <option value="10.4">10.4
 </select>
<input type=hidden name=width value="8">
<input type=submit value="Show grid">
</form>
</p>
<hr>
<p>
<form method=GET action="tgrid">
Transposed grid display by category and branch:
<br> <input type=checkbox name=category value=main checked> Main stable builders
<br> <input type=checkbox name=category value=package checked> Builders for package testing
<br> <input type=checkbox name=category value=experimental> Experimental builders with unresolved failures/problems
<br> <input type=checkbox name=category value=new> New builders not yet working
<br>
Branch:
<select NAME="branch">
  <option value="5.5">5.5
  <option value="5.5-galera">5.5-galera
  <option value="10.0">10.0
  <option value="10.0-galera">10.0-galera
  <option value="10.1">10.1
  <option value="10.2">10.2
  <option value="10.3" selected>10.3
  <option value="10.4">10.4
 </select>
<input type=hidden name=length value="10">
<input type=submit value="Show transposed grid">
</form>
</p>
<hr>
<p>
<form method=GET action="waterfall">
Waterfall display by category and branch:
<br> <input type=checkbox name=category value=main checked> Main stable builders
<br> <input type=checkbox name=category value=package checked> Builders for package testing
<br> <input type=checkbox name=category value=experimental> Experimental builders with unresolved failures/problems
<br> <input type=checkbox name=category value=new> New builders not yet working
<br>
Branch:
<select NAME="branch">
  <option value="5.5">5.5
  <option value="5.5-galera">5.5-galera
  <option value="10.0">10.0
  <option value="10.0-galera">10.0-galera
  <option value="10.1">10.1
  <option value="10.2">10.2
  <option value="10.3" selected>10.3
  <option value="10.4">10.4
</select>
<input type=submit value="Show waterfall">
</form>
</p>
<hr>

{%- if authz.advertiseAction('cleanShutdown', request) -%}
{%- if shutting_down -%}
Master is shutting down<br/>
{{ forms.cancel_clean_shutdown(cancel_shutdown_url, authz) }}
{%- else -%}
{{ forms.clean_shutdown(shutdown_url, authz) }}
{%- endif -%}
{%- endif -%}


</div>

{% endblock %}
