<div class="container sponsor">
    <style>
    </style>
    <h3><u>Sponsors</u></h3>
    <p>
    <a href="https://www.digitalocean.com" target="_blank"><img src="{{url_for('static', filename='digital-ocean.png')}}" alt="DigitalOcean logo" width="300"/></a>
    <br />
    This installation of Buildbot has been graciously sponsored by <a href="https://www.digitalocean.com" target="_blank">Digital Ocean</a>, who donated computing resources to the MariaDB Foundation. We are always grateful for more computing resources to extend our testing system to support large-scale development, testing, quality assurance and community contribution support.
    </p>
    <br />
    <p>
    <a href="https://www.hetzner.com/" target="_blank"><img src="{{url_for('static', filename='hetzner.png')}}" alt="Hetzner logo" width="300"/></a>
    <br />
    Hetzner graciously donated one powerful dedicated server to the MariaDB Foundation which we are using to extend our supported platforms continuous testing coverage. Visit <a href="https://www.hetzner.com/" target="_blank">Hetzner.com</a> to view their cloud and dedicated hosting offering.
    </p>
    <br />
    <p>
    <a href="https://www.bytemark.co.uk/" target="_blank"><img src="{{url_for('static', filename='bytemark.png')}}" alt="Bytemark logo" width="300"/></a>
    <br />
    Bytemark graciously donated one dedicated machine on which we are running <i>ubuntu-1804-bigtest</i> builds. Visit <a href="https://www.bytemark.co.uk" target="_blank">Bytemark.co.uk</a> to view their cloud and dedicated hosting offering.
    </p>
    <br />
    <p>
    <a href="https://www.gameserverkings.com/" target="_blank"><img src="{{url_for('static', filename='gameserverkings.png')}}" alt="GameServerKings logo" width="250"/></a>
    <br />
    GameServerKings graciously donated one dedicated machine on which we are running static, dynamic and linter security checks on MariaDB code base. Visit <a href="https://www.gameserverkings.com/" target="_blank">www.gameserverkings.com</a> to view their game server hosting services.
    </p>
    <h3><u>Community workers</u></h3>
    <ul>
        <li>
            <p><b>shinnok-bbw1-macos</b>: macOS 10.13 worker donated and managed by Shinnok</p>
        </li>
    </ul>
</div>
