<div class="container sponsor">
    <style>
    </style>
    <h2><u>Sponsors</u></h2>
    <a href="https://www.digitalocean.com" target="_blank"><img src="{{url_for('static', filename='DO_Logo_Horizontal_Blue.png')}}" alt="DigitalOcean logo" width="300"/></a>
    <br />
    <br />
    This installation of Buildbot has been graciously sponsored by <a href="https://www.digitalocean.com" target="_blank">Digital Ocean</a>, who donated computing resources to the MariaDB Foundation. We are always grateful for more computing resources to extend our testing system to support large-scale development, testing, quality assurance and community contribution support.
    <br />
    <br />
    <h4>Other Sponsors</h2>
    <ul>
        <li>
            Bytemark graciously donated one dedicated machine on which we are running <i>ubuntu-1804-bigtest</i> builds. Visit <a href="https://www.bytemark.co.uk" target="_blank">Bytemark.co.uk</a> to view their cloud and dedicated hosting offering.
        </li>
    </ul>
    <h2><u>Community workers</u></h2>
    <ul>
        <li>
            <p><b>shinnok-bbw1-macos</b>: macOS 10.13 worker donated and managed by Shinnok</p>
        </li>
    </ul>
</div>
