# Configuration file for host: perro
# 
# OS: openSUSE 11.1 (x86_64)
# Platform: x86_64
# CPU: Quad-core Intel @ 3.20GHz
# RAM: 2GB
# Disk(s): 2 x ST31000528AS S-ATA as software RAID 0

#
# Adjust the following variables according to your system.
#

#
# Directories.
#

# Where to store the test results.
$sql_bench_results = '/home/hakan/sql-bench-results';

# Where to compile the sources. You will need at least 1GB of disk space.
# This is also the datadir directory.
$work_dir = '/tmp';

#
# Binaries.
#

# We need bzr >= 1.18.1.
$bzr = '/usr/bin/bzr';

$mktemp = '/bin/mktemp';

$mkdir = '/bin/mkdir';

$sudo = '/usr/bin/sudo';

# Set the concurrency level (-j) to about: number of CPUs + 1.
$make = '/usr/bin/make';
$concurrency = 3;

# Perl with DBD::MySQL.
$perl = '/usr/bin/perl';

# If you use ccache, a compiler cache, which reduces compile time,
# then set the path to it here.
$ccache = '/usr/bin/ccache';

# This has to be the last line. See "perldoc -f require" for details.
1;
