# Configuration file for host: au0013
# 
# OS: Mac OS X 10.6.5
# Platform: x86_64
# CPU: Dual-core Intel Core 2 Duo @ 2.8GHz
# RAM: 4GB
# Disk(s): 1 x ST9500420ASG S-ATA

#
# Adjust the following variables according to your system.
#

#
# Directories.
#

# Where to store the test results.
$sql_bench_results = '/Users/hakan/sql-bench-results';

# Where to compile the sources. You will need at least 1GB of disk space.
# This is also the datadir directory.
$work_dir = '/tmp';

#
# Binaries.
#

# We need bzr >= 1.18.1.
$bzr = '/usr/local/bin/bzr';

$mktemp = '/sw/sbin/mktemp';

$mkdir = '/sw/bin/mkdir';

$sudo = '/usr/bin/sudo';

# Set the concurrency level (-j) to about: number of CPUs + 1.
$make = '/sw/bin/make';
$concurrency = 3;

# Perl with DBD::MySQL.
#$perl = '/usr/bin/perl';
$perl = '/sw/bin/perl';

# If you use ccache, a compiler cache, which reduces compile time,
# then set the path to it here.
$ccache = '/sw/bin/ccache';

# This has to be the last line. See "perldoc -f require" for details.
1;
