# Base configuration for running sql-bench tests with MariaDB 5.1.
#
# This is the base test to that all other tests are compared with.
# Please use this as a base for new tests.
#
# Hakan Kuecuekyilmaz, <hakan at askmonty dot org>, 2010-10-22.

# Configure environment variables.
# Note: ccache is checked in the host specific config file.
$ENV{'CC'} = "gcc";
$ENV{'CFLAGS'} = "-Wimplicit -Wreturn-type -Wswitch -Wtrigraphs -Wcomment -W -Wchar-subscripts -Wformat -Wparentheses -Wsign-compare -Wwrite-strings -Wunused-function -Wunused-label -Wunused-value -Wunused-variable -Wunused-parameter -O3 -fno-omit-frame-pointer";
$ENV{'CXX'} = "gcc";
$ENV{'CXXFLAGS'} = "-Wimplicit -Wreturn-type -Wswitch -Wtrigraphs -Wcomment -W -Wchar-subscripts -Wformat -Wparentheses -Wsign-compare -Wwrite-strings -Wunused-function -Wunused-label -Wunused-value -Wunused-variable -Wreorder -Wctor-dtor-privacy -Wnon-virtual-dtor -felide-constructors -fno-exceptions -fno-rtti -O3 -fno-omit-frame-pointer";
$ENV{'CXXLDFLAGS'} = "";

$config = {
  # Configure invocation line.
  # Do not use --prefix here.
  configure_line => '--enable-assembler --with-extra-charsets=complex --enable-thread-safe-client --with-big-tables --with-maria-tmp-tables --with-mysqld-ldflags=-static --with-client-ldflags=-static --with-readline --with-ssl --with-plugins=max-no-ndb --with-embedded-server --with-libevent --enable-local-infile',
};

#
# Different test to be run with the above configuration.
# The sql-bench-test will automaticly get --suffix=_test_name as an argument
# The different options that can be used are:
#
# mysqld_start_options    Options given to the mysqld that is started.
#                         This is prefixed with --skip-grant.
# mysqld_init_command     SQL commands given to mysqld before tests starts.
# sql_bench_options       Options given to sql-bench.
#
$sql_bench_test->{'base'} = {
  mysqld_start_options => '',
  mysqld_init_command => '',
  sql_bench_options => '--comment="base test (with MyISAM)"',
};

# --userstat is available starting with MariaDB 5.2.
$sql_bench_test->{'userstat'} = {
  mysqld_start_options => '--userstat=1',
  mysqld_init_command => '',
  sql_bench_options => '--comment="userstat=1"',
};

$sql_bench_test->{'profiling'} = {
  mysqld_start_options => '',
  mysqld_init_command => '',
  sql_bench_options => '--connect-command="set profiling=1" --comment="set profiling"',
};

$sql_bench_test->{'grant'} = {
  mysqld_start_options => '',
  mysqld_init_command => 'GRANT ALL PRIVILEGES to *.* to \'test@localhost\'',
  sql_bench_options => '--comment="grant to everything"',
};

$sql_bench_test->{'grant-db'} = {
  mysqld_start_options => '',
  mysqld_init_command => 'GRANT ALL PRIVILEGES to test.* to \'test@localhost\'',
  sql_bench_options => '--comment="grant to database"',
};

$sql_bench_test->{'grant-column'} = {
  mysqld_start_options => '',
  mysqld_init_command => 'GRANT ALL PRIVILEGES on test.* to \'test@localhost\'; CREATE table test.foo (a int); GRANT SELECT (a) on test.t1 to \'test@localhost\';',
  sql_bench_options => '--comment="grant to database and column level grants"',
};

$sql_bench_test->{'tcpip'} = {
  mysqld_start_options => '',
  mysqld_init_command => '--connect_options=\'host=LOCALHOST\'',
  sql_bench_options => '--comment="tcp/ip connection"',
};

#
# Tests with different storage engines
#
$sql_bench_test->{'myisam'} = {
  mysqld_start_options => '--default-storage-engine=myisam --key-buffer-size=256M',
  mysqld_init_command => '',
  sql_bench_options => '--comment="engine=myisam key_buffer_size=256M"',
};

$sql_bench_test->{'heap'} = {
  mysqld_start_options => '--default-storage-engine=heap --max-heap-table-size=1024M',
  mysqld_init_command => '',
  sql_bench_options => '--comment="engine=heap"',
};

$sql_bench_test->{'maria-trans-check'} = {
  mysqld_start_options => '--default-storage-engine=maria --maria-pagecache-buffer-size=256M',
  mysqld_init_command => '',
  sql_bench_options => '--create-options="transactional=1 page_checksum=1" --comment="engine=maria maria-pagecache-buffer-size=256M transactional page_checksum"',
};

$sql_bench_test->{'maria-trans'} = {
  mysqld_start_options => '--default-storage-engine=maria --maria-pagecache-buffer-size=256M',
  mysqld_init_command => '',
  sql_bench_options => '--create-options="transactional=1 page_checksum=0" --comment="engine=maria maria-pagecache-buffer-size=256M transactional"',
};

$sql_bench_test->{'maria-notrans'} = {
  mysqld_start_options => '--default-storage-engine=maria --maria-pagecache-buffer-size=256M',
  mysqld_init_command => '',
  sql_bench_options => '--create-options="transactional=0 page_checksum=0" --comment="engine=maria maria-pagecache-buffer-size=256M  not transactional"',
};

$sql_bench_test->{'innodb'} = {
  mysqld_start_options => '--default-storage-engine=innodb --innodb-buffer-pool-size=256M',
  mysqld_init_command => '',
  sql_bench_options => '--comment="engine=innodb innodb-buffer-pool-size=256M"',
};

$sql_bench_test->{'pbxt'} = {
  mysqld_start_options => '--default-storage-engine=pbxt --pbxt-index-cache-size=64M --pbxt-record-cache-size=name=196M',
  mysqld_init_command => '',
  sql_bench_options => '--comment="engine=pbxt-index-cache-size=64M --pbxt-record-cache-size=name=196M"',
};

# This has to be the last line. See "perldoc -f require" for details.
1;
