# Base configuration for running sql-bench tests.
#
# This is the base test to that all other tests are compared with.
# Please use this as a base for new tests.
#
# Hakan Kuecuekyilmaz, <hakan at askmonty dot org>, 2010-10-22.

# Configure environment variables.
# Note: ccache is checked in the host specific config file.
$ENV{'CC'} = "gcc";
$ENV{'CFLAGS'} = "-Wimplicit -Wreturn-type -Wswitch -Wtrigraphs -Wcomment -W -Wchar-subscripts -Wformat -Wparentheses -Wsign-compare -Wwrite-strings -Wunused-function -Wunused-label -Wunused-value -Wunused-variable -Wunused-parameter -O3 -fno-omit-frame-pointer";
$ENV{'CXX'} = "gcc";
$ENV{'CXXFLAGS'} = "-Wimplicit -Wreturn-type -Wswitch -Wtrigraphs -Wcomment -W -Wchar-subscripts -Wformat -Wparentheses -Wsign-compare -Wwrite-strings -Wunused-function -Wunused-label -Wunused-value -Wunused-variable -Wreorder -Wctor-dtor-privacy -Wnon-virtual-dtor -felide-constructors -fno-exceptions -fno-rtti -O3 -fno-omit-frame-pointer";
$ENV{'CXXLDFLAGS'} = "";

$config = {
  # Configure invocation line.
  # Do not use --prefix here.
  configure_line => '--enable-assembler --with-extra-charsets=complex --enable-thread-safe-client --with-big-tables --with-plugin-aria --with-aria-tmp-tables --without-plugin-innodb_plugin --with-mysqld-ldflags=-static --with-client-ldflags=-static --with-readline --with-ssl --with-plugins=max-no-ndb --with-embedded-server --with-libevent --enable-local-infile',
};

#
# Different tests to be run with the above configuration.
#
# This sql-bench-test will automaticly get --suffix=_test_name as an argument
# The different options which can be used are:
#
# mysqld_start_options    Options given to the mysqld that is started.
#                         This is prefixed with --skip-grant.
# mysqld_init_command     SQL commands given to mysqld before tests starts.
# sql_bench_options       Options given to sql-bench.
#

# Tests to be run.
require './tests/base.sqlbt';
require './tests/userstat.sqlbt';
require './tests/profiling.sqlbt';
require './tests/grant.sqlbt';
require './tests/grant-db.sqlbt';
require './tests/grant-column.sqlbt';
require './tests/tcpip.sqlbt';

#
# Tests with different storage engines
#
require './tests/myisam.sqlbt';
require './tests/heap.sqlbt';
require './tests/aria-trans-check.sqlbt';
require './tests/aria-trans.sqlbt';
require './tests/aria-notrans.sqlbt';
require './tests/innodb.sqlbt';
require './tests/pbxt.sqlbt';

# This has to be the last line. See "perldoc -f require" for details.
1;
