<div class="container sponsor">
    <style>
    </style>
    <h3><u>Sponsors</u></h3>
    <p>
    <a href="https://www.hetzner.com/" target="_blank"><img src="{{url_for('static', filename='hetzner.png')}}" alt="Hetzner logo" width="300"/></a>
    <br />
    Hetzner graciously donated one powerful dedicated server to the MariaDB Foundation which we are using to extend our supported platforms continuous testing coverage. Visit <a href="https://www.hetzner.com/" target="_blank">Hetzner.com</a> to view their cloud and dedicated hosting offering.
    </p>

    <br />
    <p>
    <a href="https://www.ibm.com/" target="_blank"><img src="{{url_for('static', filename='IBM-Logo.svg')}}" alt="IBM logo" width="250"/></a>
    <br />
    IBM graciously donated one powerful dedicated Linux Power9 server, and s390x and AIX LPARs to the MariaDB Foundation which we are using to extend our supported platforms continuous testing coverage. Visit <a href="https://www.ibm.com/" target="_blank">IBM.com</a> to view their cloud and dedicated hosting offering.
    </p>

    <br />
    <p>
    <a href="https://www.huawei.com/" target="_blank"><img src="{{url_for('static', filename='Huawei-Logo.png')}}" alt="Huawei logo" width="250"/></a>
    <br />
    Huawei graciously donated one dedicated ARM server to the MariaDB Foundation which we are using to extend our supported platforms continuous testing coverage. 
    </p>

    <br />
    <p>
    <a href="https://www.bytemark.co.uk/" target="_blank"><img src="{{url_for('static', filename='bytemark.png')}}" alt="Bytemark logo" width="300"/></a>
    <br />
    Bytemark graciously donated one dedicated machine on which we are running <i>ubuntu-1804-bigtest</i> builds. Visit <a href="https://www.bytemark.co.uk" target="_blank">Bytemark.co.uk</a> to view their cloud and dedicated hosting offering.
    </p>

    <br />
    <p>
    <a href="https://www.gameserverkings.com/" target="_blank"><img src="{{url_for('static', filename='gameserverkings.png')}}" alt="GameServerKings logo" width="250"/></a>
    <br />
    GameServerKings graciously donated one dedicated machine on which we are running static, dynamic and linter security checks on MariaDB code base. Visit <a href="https://www.gameserverkings.com/" target="_blank">www.gameserverkings.com</a> to view their game server hosting services.
    </p>
    <br />

    <p>
    <a href="https://www.tarsnap.com/" target="_blank"><img src="{{url_for('static', filename='tarsnap.png')}}" alt="Tarsnap logo" width="250"/></a>
    <br />
    Tarsnap graciously donated backup credit for this machine. Visit <a href="https://www.tarsnap.com/" target="_blank">www.tarsnap.com</a> to view their super neat tar like secure online backup service.
    </p>


 

</div>
